In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
from scipy.stats import linregress
import json

In [2]:
from api_key import api_key
#np.random.seed(2)

In [3]:
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [4]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city.replace(" ", "%20"))

# Print the city count to confirm sufficient count
print(len(cities))

790

In [6]:
url = "api.openweathermap.org/data/2.5/weather?q="
city_list=[]
temp=[]
humidity=[]
cloudiness=[]
wind_speed=[]
lat=[]
long=[]
country = []
date=[]

for city in cities:
    full_url = "http://" + url + city + "&units=imperial&appid=" + api_key
    weather_data = requests.get(full_url).json()
    try:
        weather_dict = weather_data['main']    
        wind_dict = weather_data['wind']
        cloud_dict = weather_data['clouds']
        lat_long_dict = weather_data['coord']
        country_dict=weather_data['sys']
        temp.append(weather_dict['temp_max'])
        city_list.append(city.replace("%20", ' '))
        humidity.append(weather_dict['humidity'])
        cloudiness.append(cloud_dict['all'])
        wind_speed.append(wind_dict['speed'])
        lat.append(lat_long_dict['lat'])
        long.append(lat_long_dict['lon'])
        country.append(country_dict['country'])
        date.append(weather_data['dt'])
     
    except KeyError:
        cities.remove(city)

In [16]:
city_data = pd.DataFrame({'City': city_list,
                           'Latitude': lat,
                          'Longitude': long,
                          'Max_temp': temp,
                          'Humidity': humidity,
                          'Clouds': cloudiness,
                          'Wind_speed': wind_speed,
                          'Country': country,
                          'Date': date})

city_data.head()

,City,Latitude,Longitude,Max_temp,Humidity,Clouds,Wind_speed,Country,Date
0,san matias,-16.3667,-58.4000,75.69,83,11,5.10,BO,1612152701
1,butaritari,3.0707,172.7902,81.25,82,53,14.03,KI,1612152399
2,harnosand,62.6323,17.9379,12.00,92,95,3.44,SE,1612152702
3,goderich,43.7501,-81.7165,15.80,57,94,10.36,CA,1612152436
4,bethel,41.3712,-73.4140,19.99,58,90,6.91,US,1612152205

In [8]:
city_data.to_csv('city_data.csv')

In [12]:
high_humidity = city_data.loc[city_data['Humidity']>100]
high_humidity

Empty DataFrame
Columns: [City, Latitude, Longitude, Max_temp, Humidity, Clouds, Wind_speed, Country, Date]
Index: []

# Scatter plots

In [ ]:
x_axis = weather_df['latitude']
y_axis = weather_df['max_temp']